<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ligg.mapper.PhoneNumberMapper">

    <!-- 批量插入手机号 -->
    <insert id="batchInsertPhones">
        INSERT INTO phone
        (phone_number, line_status, registration_time, usage_status, phone_region_id, phone_project_id)
        values
        <foreach collection="list" item="phone" separator=",">
            (
            #{phone.phoneNumber},
            #{phone.lineStatus},
            #{phone.registrationTime},
            #{phone.usageStatus},
            #{phone.phoneRegionId},
            #{phone.phoneProjectId}
            )
        </foreach>
    </insert>

    <!-- 查询手机号是否存在 -->
    <select id="getPhoneByNumber" resultType="com.ligg.common.entity.PhoneEntity">
        SELECT * FROM phone WHERE phone_number = #{phoneNumber}
    </select>
    
    <!-- 检查手机号是否存在 -->
    <select id="checkPhoneExists" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM phone WHERE phone_number = #{phoneNumber}
    </select>

    <!-- 插入手机号和项目关联信息到用户订单表 -->
    <insert id="insertPhoneProject">
        INSERT INTO user_order(user_id, phone_number, created_at, project_id)
        VALUES (1, #{phoneNumber}, NOW(), #{projectId})
    </insert>

    <!-- 删除手机号 -->
    <delete id="deletePhone">
        delete from phone
        where phone_id = #{phoneId}
    </delete>


    <select id="phoneList" resultType="com.ligg.common.entity.PhoneEntity">
        select p.*, r.region_name as countryCode
        from phone p
        left join region r on p.phone_region_id = r.region_id
        <where>
            <if test="countryCode != null and countryCode != '' ">
                r.region_name like concat('%', #{countryCode}, '%')
            </if>
            <if test="usageStatus != null">
                and p.usage_status = #{usageStatus}
            </if>
            <if test="keyword != null and keyword != ''">
                and (p.phone_number like concat('%', #{keyword}, '%')
                or r.region_name like concat('%', #{keyword}, '%')
                or p.usage_status like concat('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <!-- 根据手机号ID查询手机详情 -->
    <select id="queryByIdPhoneDetail" resultType="com.ligg.common.dto.PhoneDetailDto">
        SELECT
            p.phone_id,
            p.phone_number,
            r.region_name as countryCode,
            p.line_status,
            p.usage_status,
            p.registration_time,
            pj.project_name,
            uo.created_at as time_of_use
        FROM phone p
        LEFT JOIN region r ON p.phone_region_id = r.region_id
        LEFT JOIN user_order uo ON p.phone_number = uo.phone_number
        LEFT JOIN project pj ON uo.project_id = pj.project_id
        WHERE p.phone_id = #{phoneId}
    </select>
    
    <select id="getPhonesByProject" resultType="com.ligg.common.entity.PhoneEntity">
        select phone_id, phone_number, phone_project_id
        from phone
        where phone_region_id = #{regionId}
    </select>
</mapper>