<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ligg.mapper.PhoneNumberMapper">

    <!-- 批量插入手机号 -->
    <insert id="batchInsertPhones">
        INSERT INTO phone
        (phone_number, registration_time, admin_user_id, money)
        values
        <foreach collection="list" item="phone" separator=",">
            (
            #{phone.phoneNumber},
            #{phone.registrationTime},
            #{phone.adminUserId},
            #{phone.money}
            )
        </foreach>
    </insert>

    <!-- 查询手机号是否存在 -->
    <select id="getPhoneByNumber" resultType="com.ligg.common.entity.PhoneEntity">
        SELECT * FROM phone WHERE phone_number = #{phoneNumber}
    </select>
    
    <!-- 检查手机号是否存在 -->
    <select id="checkPhoneExists" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM phone WHERE phone_number = #{phoneNumber}
    </select>

    <!-- 插入手机号和项目关联信息到 phone_project_relation 表 -->
    <insert id="insertPhoneProject">
        INSERT INTO phone_project_relation(phone_id, project_id, region_id, is_available, created_at)
        SELECT p.phone_id, #{projectId}, #{regionId}, 0, NOW()
        FROM phone p 
        WHERE p.phone_number = #{phoneNumber}
    </insert>

    <!--卡商获取手机号列表 -->
    <select id="phoneList" resultType="com.ligg.common.vo.PhoneVo">
        SELECT 
            p.phone_id, 
            p.phone_number, 
            p.registration_time, 
            p.money,
            r.region_name,
            GROUP_CONCAT(DISTINCT pj.project_name SEPARATOR ', ') as projectName
        FROM phone p
        JOIN phone_project_relation ppr ON p.phone_id = ppr.phone_id
        JOIN region r ON ppr.region_id = r.region_id
        LEFT JOIN admin_users au ON p.admin_user_id = au.user_id
        LEFT JOIN project pj ON ppr.project_id = pj.project_id
        <where>
            <if test="countryCode != null and countryCode != '' ">
                r.region_name like concat('%', #{countryCode}, '%')
            </if>
            <if test="keyword != null and keyword != ''">
                and (p.phone_number like concat('%', #{keyword}, '%')
                or r.region_name like concat('%', #{keyword}, '%')
                or p.usage_status like concat('%', #{keyword}, '%'))
            </if>
            and p.admin_user_id = #{adminUserId}
        </where>
        GROUP BY p.phone_id, p.phone_number, p.registration_time, p.money, r.region_name
        ORDER BY p.phone_id DESC
    </select>


    <select id="getPhonesByProject" resultType="com.ligg.common.entity.PhoneEntity">
        select p.phone_id, p.phone_number,p.admin_user_id
        from phone_project_relation ppr
        left join phone p on ppr.phone_id = p.phone_id
        where ppr.region_id = #{regionId}
        limit 100
    </select>


    <!-- 使用PhoneAndProjectDto的嵌套结果映射 -->
    <resultMap id="PhoneAndProjectDtoMap" type="com.ligg.common.dto.PhoneAndProjectDto">
        <!-- 基本信息部分 -->
        <id property="phoneId" column="phone_id"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="registrationTime" column="registration_time"/>
        <result property="countryCode" column="country_code"/>
        <result property="regionName" column="region_name"/>
        
        <!-- 项目信息集合，使用collection标签 -->
        <collection property="projects" ofType="com.ligg.common.entity.ProjectEntity" 
                    column="phone_id" select="getPhoneProject"/>
    </resultMap>
    
    <!-- 根据手机号查询关联的项目 -->
    <select id="getProjectByPhoneNumber" resultType="com.ligg.common.entity.ProjectEntity">
        SELECT 
            p.project_id,
            p.project_name,
            p.project_price
        FROM phone_project_relation ppr
        JOIN phone ph ON ppr.phone_id = ph.phone_id
        LEFT JOIN project p ON ppr.project_id = p.project_id
        WHERE ph.phone_number = #{phoneNumber}
    </select>
    
    <!-- 获取号码列表的结果映射 -->
    <resultMap id="PhoneVoResultMap" type="com.ligg.common.vo.PhoneVo">
        <id property="phoneId" column="phone_id"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="registrationTime" column="registration_time"/>
        <result property="regionName" column="region_name"/>
        <result property="adminNickName" column="admin_nick_name"/>
        <result property="adminAvatar" column="admin_avatar"/>
        <result property="money" column="money"/>
        <collection property="projects" ofType="com.ligg.common.vo.ProjectInfoVo">
            <id property="projectId" column="project_id"/>
            <result property="projectName" column="project_name"/>
            <result property="projectPrice" column="project_price"/>
        </collection>
    </resultMap>
    
    <!-- 获取号码列表 -->
    <select id="getPhoneList" resultMap="PhoneVoResultMap">
        select p.phone_id,
               p.phone_number,
               p.registration_time,
               p.money,
               r.region_name,
               au.nick_name as admin_nick_name,
               au.user_avatar as admin_avatar,
               pj.project_id,
               pj.project_name,
               pj.project_price
        from phone p
                  join phone_project_relation ppr on p.phone_id = ppr.phone_id
                  join region r on ppr.region_id = r.region_id
                  join admin_users au on p.admin_user_id = au.user_id
                  join project pj on ppr.project_id = pj.project_id
        order by p.phone_id desc
    </select>

</mapper>