<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ligg.mapper.SmsMapper">

    <select id="getSmsList" resultType="com.ligg.common.dto.SmsDto">
        select uo.user_project_id,p.project_name,uo.phone_number,uo.created_at
        from user_order uo
        join project p on uo.project_id = p.project_id
        where user_id = #{userId}
    </select>
</mapper>