<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligg.mapper.user.UserMapper">
    <!--添加收藏-->
    <insert id="addUserFavorite">
        insert into user_favorite(user_id, project_id, created_at)
        values (#{userId}, #{projectId}, NOW())
    </insert>
    <!--添加手机号码-->
    <insert id="addPhoneNumber">
        insert into orders(user_id, phone_number, merchant_id, project_id, project_money, region_id,
                           created_at)
        values (#{userId}, #{phoneNumber}, #{adminUserId}, #{projectId}, #{projectMoney}, #{regionId}, NOW())
    </insert>

    <!--注册账号-->
<!--    <insert id="registerAccount">-->
<!--        insert into users(account,password,created_at)-->
<!--        values (#{account}, #{password}, NOW())-->
<!--    </insert>-->

    <!--修改密码-->
    <update id="updateUserPassword">
        update users
        set password = #{newPassword}
        where user_id = #{userId}
    </update>

    <!--修改用户信息-->
    <update id="updateUserInfo">
        update users
        <set>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="userAvatar != null and userAvatar != ''">
                user_avatar = #{userAvatar},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <!--账号注销-->
    <update id="logoutAccount">
        update users
        set user_status = #{status}
        where user_id = #{userId}
    </update>
    <!--修改订单信息-->
    <update id="updateOrderAndAddCode">

    </update>

    <!--修改用户余额-->
    <update id="updateUserMoney">
        update users
        set money = money - #{deduct}
        where user_id = #{userId}
    </update>

    <!-- 根据账号查询用户信息-->
    <select id="findByUser" resultType="com.ligg.common.entity.user.UserEntity">
        select user_id,
               account,
               password,
               email,
               nick_name,
               created_at,
               updated_at,
               user_avatar,
               user_status
        from users
        where account = #{account}
    </select>

    <!--根据id查询用户信息-->
    <select id="findByUserInfo" resultType="com.ligg.common.entity.user.UserEntity">
        select user_id,
               account,
               password,
               email,
               nick_name,
               created_at,
               updated_at,
               user_avatar,
               login_time
        from users
        where user_id = #{userId}
    </select>

    <!--根据用户id和项目id查询收藏数据-->
    <select id="getUserFavorite" resultType="com.ligg.common.entity.user.UserFavoriteEntity">
        select *
        from user_favorite
        where user_id = #{userId}
          and project_id = #{projectId}
    </select>

    <!--根据用户id查询收藏数据-->
    <select id="getUserFavoriteByUserId" resultType="java.util.Map">
        select p.project_id,
               p.project_name,
               p.project_price,
               uf.created_at
        from user_favorite uf
                 join project p on uf.project_id = p.project_id
        where uf.user_id = #{userId}
    </select>

    <!--获取用户订单-->
    <select id="getUserOrder" resultType="java.util.Map">
        select orders_id, phone_number, created_at, project_money
        from orders
        where user_id = #{userId}
        order by created_at desc
    </select>

    <!--根据账号密码查询用户信息-->
    <select id="findAccountAndPasswordByUser" resultType="com.ligg.common.entity.user.UserEntity">
        select user_id,account,password,nick_name,email,user_avatar,user_status
        from users
        <!--区分大小写-->
        where binary account = #{account}
    </select>

    <!--查询后台管理用户信息-->
    <select id="findByAdminWebUser" resultType="com.ligg.common.entity.adminweb.AdminWebUserEntity">
        select admin_id,account,password,email,nick_name
        from admin_web_user
        <!--区分大小写-->
        where binary account = #{account}
    </select>

</mapper>