<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligg.mapper.UserMapper">
    <!--添加收藏-->
    <insert id="addUserFavorite">
        insert into user_favorite(user_id, project_id, created_at)
        values (#{userId}, #{projectId}, NOW())
    </insert>
    <!--添加手机号码-->
    <insert id="addPhoneNumber">
        insert into user_phone(user_id,phone_number,created_at)
        values (#{userId},#{projectNumber},NOW())
    </insert>
    <!--修改密码-->
    <update id="updateUserPassword">
        update users
        set password = #{newPassword}
        where user_id = #{userId}
    </update>

    <!--修改用户信息-->
       <update id="updateUserInfo">
           update users
           <set>
               <if test="nickName != null and nickName != ''">
                   nick_name = #{nickName},
               </if>
               <if test="userAvatar != null and userAvatar != ''">
                   user_avatar = #{userAvatar},
               </if>
           </set>
           where user_id = #{userId}
       </update>

    <!-- 根据账号密码查询用户信息-->
    <select id="findByAdminUser" resultType="com.ligg.common.entity.AdminUserEntity">
        select user_id,account,password,email,nick_name
        from admin_users
        where account = #{account} and password = #{password}
    </select>

    <!-- 根据用户id查询用户信息-->
    <select id="findByAdminUserInfo" resultType="com.ligg.common.entity.AdminUserEntity">
        select user_id,account,nick_name,password,email,created_at,updated_at,user_avatar
        from admin_users
        where user_id = #{userId}
    </select>
    <!-- 根据账号查询用户信息-->
    <select id="findByUser" resultType="com.ligg.common.entity.UserEntity">
        select user_id,account,password,email,nick_name,created_at,updated_at,user_avatar
        from users
        where account = #{account}
    </select>

    <!--根据id查询用户信息-->
    <select id="findByUserInfo" resultType="com.ligg.common.entity.UserEntity">
        select user_id,account,password,email,nick_name,created_at,updated_at,user_avatar
        from users
        where user_id = #{userId}
    </select>

    <!--根据用户id和项目id查询收藏数据-->
    <select id="getUserFavorite" resultType="com.ligg.common.entity.UserFavoriteEntity">
        select *
        from user_favorite
        where user_id = #{userId} and project_id = #{projectId}
    </select>
</mapper>