<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ligg.mapper.adminweb.CustomerBillMapper">

    <!--  查询用户账单 -->
    <select id="selectCustomersBill" resultType="com.ligg.common.vo.CustomerBillVo">
        select cb.id,
               cb.amount,
               cb.bill_type,
               cb.amount,
               cb.purchase_time,
               cb.remark,
               cb.is_user_type,
               u.nick_name,
               u.user_avatar,
               u.account
        from customer_bill cb
                 left join users u on cb.user_id = u.user_id
        order by cb.purchase_time desc 
    </select>
</mapper>